.emailImage {
  height: 300px;
  margin-left: 50px;
  margin-top: -180px;
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
  transition: all 0.2s;
}

.emailImage:hover {
  transform: scale(1.3);
}
